.weekly-forecast-container {
    background-color: #7f9BA6;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weekly-forecast-container .col {
    flex: 1;
    display: flex;
    justify-content: center;
    border-left: 1px solid white;
    height: 100%;
}

.weekly-forecast-container .col:nth-child(1) {
    border: none;
}

.weekly-forecast-container .content {
    margin: 10px 0px 10px 0px;
    display: inline-block;
    height: 100%;
}

.weekly-forecast-container .row {
    margin: 15px;
    text-align: center;
}