.current-weather-container {
    background-color: #84cdee;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    top: 0;
    align-items: center;
}

.current-weather-container .col {
    flex: 1;
    display: flex;
    justify-content: center;
    font-size: 28px;
}

.current-weather-container .icon {
    display: flex;
    flex-direction: column;
}